
@import url("composantes/container.css");
body{/**
     background-image:url(images/background.jpg);
     background-attachment:fixed;
	*/
}

h2{
	font-family: cursive;
	color: #8B0000;
	font-weight: 100;
	text-transform: uppercase; /** pour les majuscules $+*/
	text-decoration: underline;

	font-size: 20px;
}

a{
	text-decoration: none;
	color: #008B8B	;
	font-family:sans-serif;
}

a:hover{
	color:black;
}




@media (max-width: 960px) {
  .container {
    width: 400px;
  }
}

